# ------------ JAVA ------------
*.class
*.war
*.ear

# ------------ Maven/Gradle ------------
target/
build/
bin/

# ------------ IntelliJ IDEA ------------
.idea/
*.iml
out/

# ------------ VS Code ------------
.vscode/
